node_modules/
.expo/
dist/
build/
*.tsbuildinfo
.env
.env.local
.env.*.local
ios/
android/
functions/node_modules/
functions/lib/
*.orig.*
web-build/
.idea/
.vscode/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
yarn-error.log
.DS_Store
Thumbs.db
